$backConfig: no-repeat center center/cover;
$filter: linear-gradient(rgba(0, 0, 0, 0.287), rgba(0, 0, 0, 0.205));
$orange: #fe982380;
$orangeGradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

@mixin background($filter, $url, $backConfig) {
  background: $filter, $url $backConfig;
}

@mixin clip($background) {
  background: $background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @mixin linearGradient($top, $bottom){
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
} */

@mixin boxSize($width: false, $height: false, $maxWidth: false, $maxHeight: false, $minHeight: false) {
  @if($width) {
    width: $width;
  }
  @if($height) {
    height: $height;
  }
  @if($maxWidth) {
    max-width: $maxWidth;
  }
  @if($maxHeight) {
    max-height: $maxHeight;
  }
  @if($minHeight) {
    min-height: $minHeight;
  }
}

@for $i from 1 through 5 {
  .light.w#{$i} {
    background-color: darken($orange, $i*5%);
  }
}

@mixin alignment($display: false, $align: false, $justify: false, $justifyGrid: false, $direction: false) {
  @if $display {
    display: $display;
  }

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $justifyGrid {
    justify-items: $justifyGrid;
  }

  @if $direction {
    flex-direction: $direction;
  }
}