@media(min-width: 500px) {
  .rulesText {
    line-height: 1.7;
  }
}

@media(min-width: 768px) {
  .container {
    @include boxSize($maxWidth: 1100px, $maxHeight: 100vh);
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 1fr 3fr 1fr;
    grid-template-areas:
      'header header header header header'
      'drawnNumbers drawnNumbers drawnNumbers drawnNumbers drawnNumbers'
      'numbersSelection numbersSelection numbersSelection ticketsContainer ticketsContainer'
      'panel panel panel panel panel';
    padding: 2%;
    font-size: 3vh;
  }

  .wrapper {
    @include boxSize($width: 100%, $height: 90%);
  }

  .drawnNumbers {
    grid-template-columns: repeat(12, 1fr);
    @include alignment($align: center);
  }

  .numbersSelection {
    @include boxSize($height: 100%);
  }

  .ticketsContainer {
    grid-template-rows: 12% 85%;
    @include boxSize($height: 100%);

    .ticketsList {
      font-size: 2.5vh;
/* 
      .oneTicket {
        padding: 0 0.8rem;
      } */
    }

    .ticketNumber {
      @include boxSize($height: 24px, $width: 24px);
    }
  }

  .panel {
    .inputWrapper {
      input {
        font-size: 3vh;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  .numberDiv {
    @include boxSize($height: 40px, $width: 40px);
  }

  .popup {
    @include boxSize($maxWidth: 50vw);
  }

  .btn {
    font-size: 1.1rem;
    padding: 4% 3%;
  }
}

@media(min-width: 992px) {
  .numbersSelection {
    grid-template-columns: repeat(10, 1fr);
  }

  .numberDiv {
    @include boxSize($height: 50px, $width: 50px);
  }
}

@media(min-width: 1200px) {
  .ticketsContainer .ticketNumber {
    @include boxSize($height: 40px, $width: 40px);
  }
}